<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    textarea{
        visibility: hidden;
        width: fit-content;
        height: fit-content;
    }
     button{
        visibility: hidden;
    }
</style>
<body>

<textarea type="text"  id="myInput"></textarea>
    <button onclick="myFunction()"></button>
<p></p>

<script>
    window.addEventListener('load', ()=>{
        document.querySelector("button").click()
    })
    
document.addEventListener('click', function(event) {
   myFunction()
});
    
document.getElementById("myInput").value = `
In lab5 subfolder, write code in views.py
from django.shortcuts import render
from django.http import HttpResponse
from lab5.models import Course, Student
def reg(request):
if request.method == "POST":
sid=request.POST.get("sname") 
cid=request.POST.get("cname") 
student=Student.objects.get(id=sid) 
course=Course.objects.get(id=cid) 
res=student.enrolment.filter(id=cid) 
if res: 
return HttpResponse("<h1>Student already enrolled</h1>") 
student.enrolment.add(course) 
return HttpResponse("<h1>Student enrolled successfully</h1>") 
else: students=Student.objects.all() 
courses=Course.objects.all()
return render(request,"reg.html",{"students":students, "courses":courses})
In lab5 subfolder, write code in models.py
from django.db import models
class Course(models.Model):
course_code=models.CharField(max_length=40)
course_name=models.CharField(max_length=100)
course_credits=models.IntegerField()
class Student(models.Model): 
student_usn=models.CharField(max_length=20) 
student_name=models.CharField(max_length=100) 
student_sem=models.IntegerField() 
enrolment=models.ManyToManyField(Course)
>python manage.py startapp lab5
In the lab5 folder, create a subfolder ‘templates’ and within the templates 
subfolder create a file ‘reg.html’.
<html>
<body>
<form method="post" action=" ">
{% csrf_token %}
 Student Name 
<select name="sname">
{%for student in students %}
<option value="{{student.id}}">{{student.student_name}}
</option>
{% endfor %}
</select> <br>
Course Name 
<select name="cname">
{%for course in courses %}
<option value="{{course.id}}">{{course.course_name}}
</option>
{% endfor %}
</select><br>
<input type="submit" value="Enroll">
</form>
</body>
</html>
In lab5 subfolder, write code in urls.py
from django.urls import path
from lab5.views import reg
urlpatterns = [
path('reg/', reg),
]
`

function myFunction() {
  
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

  // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);
console.log(copyText.value)
}
</script>

</body>
</html>
